#main-container {
    display: flex;
    height: 100%;
}

#create-task-btn {
    display: flex;
    justify-content: flex-end;
    margin: 25px 10px 0 0;
}

#tasks-list-container {
    width: 84vw;
    margin-top: 25px;   
}

table {
    width: 100%;
}