.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 95%;
    background-color: rgb(66 61 61);
    color: white;
    margin: 10px;
    border-radius: 12px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
}

.nav-item {
    width: 180px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    align-items: center;
    border-radius: 16px;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.nav-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 87vh;
    align-items: center;
    gap: 15px;
}

#user-email {
    width: 135px;
    overflow-wrap: break-word;
}

#line-breaker {
    height: 2px;
    background-color: #EAEFF5;
    width: 174px;
    margin: 5px 0;
}