<mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="true" [fixedTopGap]="0"
    [fixedBottomGap]="0">
    <mat-nav-list *ngIf="isAuth">
        <div class="nav-list-container">
            <div 
                mat-list-item 
                class="nav-item" 
                style="background-color: #6cb149;"
                (click)="onClickProjects()"
            >
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
                    <span 
                        id="user-email" 
                        class="nav-caption"
                        [style.height]="userEmail.length > 20 ? '59%' : '45%'"
                    >{{userEmail}}</span>
            </div>
            <div id="line-breaker"></div>
            <div 
                mat-list-item 
                class="nav-item" 
                [style.background-color]="isClickedProjects ? 'gray' : 'initial'"
                (click)="onClickProjects()"
            >
                <span class="nav-caption">Projects</span>
            </div>
            <div 
                mat-list-item 
                class="nav-item" 
                [style.background-color]="isClickedLogout ? 'gray' : 'initial'"
                (click)="onLogout()"
            >
                <span class="nav-caption">Logout</span>
            </div>
        </div>
    </mat-nav-list>
</mat-sidenav>