#create-task-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
}

#modal-title {
    padding-left: 0;
}

#date-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 15px;
}

.date-field {
    width: 300px;
}

.time-field {
    height: 55px;
    width: 80px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #efeded;
    padding: 0px 10px;
}

.date-time-container {
    display: flex;
    gap: 10px;
}