#create-project-container {
    display: flex;
    flex-direction: column;
    width: 32vw;
}

#modal-title {
    padding-left: 0;
}

#buttons-container {
    margin-top: 25px;
}

#date-container {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}