<div id='header-container'>
    <mat-toolbar-row>
        <span id="heading">Task: {{task?.title}}</span>
    </mat-toolbar-row>
</div>
<div id="main-container">
    <mat-list role="list">
        <mat-list-item role="listitem">
            Title: {{task?.title}}
        </mat-list-item>
        <mat-list-item role="listitem">
            Description: {{task?.description}}
        </mat-list-item>
        <mat-list-item role="listitem">
            Priority: {{task?.priority}}
        </mat-list-item>
        <mat-list-item role="listitem">
            Start Date: {{task?.startDate}}
        </mat-list-item>
        <mat-list-item role="listitem">
            End Date: {{task?.endDate}}
        </mat-list-item>
        <mat-list-item role="listitem">
            Status: {{task?.status}}
        </mat-list-item>
        <mat-list-item role="listitem">
            Assigned Users: <mat-chip-set>
                @for (userEmail of task?.userEmails; track userEmail) {
                    <mat-chip>{{userEmail}}</mat-chip>
                }
            </mat-chip-set>
        </mat-list-item>
    </mat-list>
</div>