<div id='header-container'>
    <mat-toolbar-row>
        <span id="heading">Task: {{dataSource[0].value}}</span>
    </mat-toolbar-row>
</div>
<div id="main-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- Property Column -->
        <ng-container matColumnDef="property">
            <th mat-header-cell *matHeaderCellDef> Property </th>
            <td mat-cell *matCellDef="let element" style="width: 13vw;"> {{element.property}} </td>
        </ng-container>
    
        <!-- Value Column -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element"> 
                <ng-container *ngIf="element.property !== 'Assigned Persons'">
                    {{element.value}} 
                </ng-container>
                <ng-container *ngIf="element.property === 'Assigned Persons'">
                    <mat-chip-set>
                        @for (userEmail of element.value; track userEmail) {
                            <mat-chip>{{userEmail}}</mat-chip>
                        }
                    </mat-chip-set>
                </ng-container>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>